		<div id="banner">
			<div class="wrap">
				<div id="logo">
					<!-- <img src="img/logo.png" alt='logo'> -->
					<%= link_to image_tag("logo.png", :alt => "logo"), home_path%>

				</div>
				<!-- end logo image -->


			</div>
			<!-- end wrap -->
		</div>
		<!-- end banner -->